header  
  .container
    .row.align-items-center.wrap
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/logo.svg", alt="logo")
      .col-9
        .inner-menu
          ul.row.justify-content-end.align-items-center
            li.col-2
              a(href="/") Trang chủ
            li.col-2
              a(href="/product") Sản phẩm