mixin alertSuccess(time)
  - if (messages.success)
    div(class="message info" mesage-parent)
      div(class="alert alert-success"
        data-time=time
        show-alert) #{messages.success} <span close-alert>x</span>

mixin alertError(time)
  - if (messages.error)
    div(class="message info" mesage-parent)
      div(class="alert alert-danger"
        data-time=time
        show-alert) #{messages.error} <span close-alert>x</span>