mixin sort()
  div(sort)
    select(
      class="form-control"
      name="sort"
      sort-select
    )
      option(value="position-desc") Vị trí giảm dần
      option(value="position-asc") Vị trí tăng dần
      option(value="price-desc" selected) Giá giảm dần
      option(value="price-asc") Giá tăng dần
      option(value="title-desc") Tiêu đề từ Z-A
      option(value="title-asc") Tiêu đề từ Z-A
    button(
      class="btn btn-danger mt-2"
      sort-clear
    ) Clear